body{
    font-family: 'Poppins', sans-serif;
}

.fp-bar{
    width: 100%;
    
    background-color: #000000;
    border-top: 10px solid #ccc;
    z-index: 9999;
}

input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

th, td {
    padding: 15px 0px;
}

/* Responsive styles for different screen sizes */
@media (max-width: 600px) {
    input {
        font-size: 14px;
    }
}

@media (max-width: 400px) {
    input {
        font-size: 12px;
    }
}

.gap30{
    margin-bottom: 30px;
}
footer{
    background-color: #484747;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    margin-top: 30px;
}

li{
    list-style: none;
}

.box{
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
}

header{
    background-color: #484747;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    margin-top: 30px;
}
